.one{
    width: calc(100% / 12 * 1) !important;
}

.two{
    width: calc(100% / 12 * 2) !important;
}

.three{
    width: calc(100% / 12 * 3) !important;
}

.four{
    width: calc(100% / 12 * 4) !important;
}

.five{
    width: calc(100% / 12 * 5) !important;
}

.six{
    width: calc(100% / 12 * 6) !important;
}

.eight{
    width: calc(100% / 12 * 8) !important;
}

.ten{
    width: calc(100% / 12 * 10) !important;
}
